<form action="" method="POST">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurant | LogIn</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <nav id="container">
            <div class="containerLeft">
                <h1 class="lefth1">LogIn</h1><br>
                <h4 class="lefth4">Sign in to continue</h4>
                <br><br><br><br><br>
                <div class="line"></div>
                <br><br><br>
                <p class="leftp">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, eius corporis.
                    Molestias illum, iusto blanditiis libero dolorum enim vel maxime sed rem vitae totam officiis! Ab
                    tenetur sed exercitationem doloribus.</p>
                <br><br><br><br>
                <a href="#" class="learnMore">Learn More</a>
            </div>
            <div class="containerRight">
                <div class="rightbox">
                    <h1 class="righth1">Sign In</h1><br><br>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div>
                            <legend class="inputTitle">User_Name</legend>
                            <input type="text" name="username" required autocomplete="off" placeholder="User Name"
                                class="input" value="{{ form.username.value|default_if_none:'' }}">
                        </div><br>
                        <div>
                            <legend class="inputTitle">Password</legend>
                            <input type="password" name="password" required autocomplete="off" placeholder="Password"
                                class="input">
                        </div>
                        <p id="alert"></p><br>
                        <div><input type="submit" value="LogIn" class="submit"></div>
                    </form>
                    {% if messages %}
                    <ul class="messages" id="errorMessages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}
                            style="color: rgb(252, 20, 20);">{{ message }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <script src="{% static 'js/code.js' %}"></script>

    </body>

    </html>